.size-6{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=-1.000000, SizingMethod='auto expand')";}
.size-40{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=-1.000000, SizingMethod='auto expand')";}
.size-57{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=-1.000000, SizingMethod='auto expand')";}
.size-127{-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=1.000000, M12=0, M21=0, M22=-1.000000, SizingMethod='auto expand')";}
